<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="ajaxControlToolkit" type="AjaxControlToolkit.AjaxControlToolkitConfigSection, AjaxControlToolkit" />
  </configSections>
	<system.net>
		<mailSettings>
			<smtp from="nathan.silvester@aggiemail.usu.edu">
			</smtp>
		</mailSettings>
	</system.net>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>
	<connectionStrings>
		<add name="Pubs" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\pubs.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="MembershipDB" connectionString="data source=(LocalDB)\MSSQLLocalDB;Integrated Security=true;AttachDBFilename=|DataDirectory|aspnetdb.mdf" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<authentication mode="Forms">
					<forms loginUrl="~/Membership/Login.aspx" />
		</authentication>
		<membership defaultProvider="NewAspNetSqlMembershipProvider">
			<providers>
				<clear />
				<add name="NewAspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="MembershipDB" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
			</providers>
		</membership>
		<profile enabled="true" defaultProvider="NewAspNetSqlProfileProvider">
			<providers>
				<clear />
				<add name="NewAspNetSqlProfileProvider" connectionStringName="MembershipDB" applicationName="/" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			</providers>
			<properties>
				<add name="FirstName" type="string" />
				<add name="LastName" type="string" />
				<add name="Birthday" type="DateTime" />
				<group name="Address">
					<add name="Street" type="string" />
					<add name="City" type="string" />
					<add name="State" type="string" />
					<add name="Zip" type="string" />
					<add name="Country" type="string" />
				</group>
			</properties>
		</profile>
		<roleManager enabled="true" defaultProvider="NewAspNetSqlRoleProvider">
			<providers>
				<clear />
				<add name="NewAspNetSqlRoleProvider" connectionStringName="MembershipDB" applicationName="/" type="System.Web.Security.SqlRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			</providers>
		</roleManager>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
	<pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>
	<location path="Membership/User.aspx">
		<system.web>
			<authorization>
				<allow roles="User, Admin" />
				<deny users="*" />
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="Membership/Admin.aspx">
		<system.web>
			<authorization>
				<allow roles="Admin" />
				<deny users="*" />
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
<ajaxControlToolkit htmlSanitizer="AjaxControlToolkit.HtmlEditor.Sanitizer.DefaultHtmlSanitizer, AjaxControlToolkit.HtmlEditor.Sanitizer" /></configuration>